# Instructor Do: Decision Trees

In [50]:
# Initial imports
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## Loading and Preprocessing Loans Encoded Data

In [51]:
# Loading data
file_path = Path("../Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [52]:
# Define features set
X = df_loans.copy()
X = X.drop(["bad", "education_Bachelor","gender_female","gender_male"], axis=1)
X.head()

,amount,term,age,month_num,education_High School or Below,education_Master or Above,education_college
0,1000,30,45,6,1,0,0
1,1000,30,50,7,0,0,0
2,1000,30,33,8,0,0,0
3,1000,15,27,9,0,0,1
4,1000,30,28,10,0,0,1

In [53]:
# Define the target set.
y = df_loans["bad"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

In [54]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [55]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [57]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [58]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [59]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0])

In [60]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           55           29
Actual 1           25           16

In [61]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [62]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           55           29
Actual 1           25           16

Accuracy Score : 0.568
Classification Report
              precision    recall  f1-score   support

           0       0.69      0.65      0.67        84
           1       0.36      0.39      0.37        41

    accuracy                           0.57       125
   macro avg       0.52      0.52      0.52       125
weighted avg       0.58      0.57      0.57       125

In [63]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.05325334, 0.07998781, 0.48334214, 0.31743926, 0.02893675,
       0.00376361, 0.03327709])

In [64]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.48334214116350815, 'age'),
 (0.3174392589685201, 'month_num'),
 (0.07998780822617252, 'term'),
 (0.05325334152041376, 'amount'),
 (0.03327709273171026, 'education_college'),
 (0.028936752080109485, 'education_High School or Below'),
 (0.003763605309565664, 'education_Master or Above')]